body {
	margin: 0px;
	text-align: center;
	font-family: Arial;
	color: rgb(235, 129, 68);
}
li {
	display: inline-block;
	height: 50px;
	width: 20%;
	text-align: center;
	padding-top: 10px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}
.logo {
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	display: block;
	margin: auto;
}
a {
	color: rgb(235, 129, 68);
	text-decoration: none;

}
.navbar {
	margin-right: 0px;
	margin-left: 0px;
}

.bigBowl {
	width: 80%;
	display: block;
	margin: 0 auto;

}